@font-face {
  font-family: Acron;
  src: url(./Acorn-SemiBold.ttf);
}
@font-face {
  font-family: Helvetica;
  src: url(./HelveticaNeueMedium.otf);
}
/* App.css */
body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about {
  color: #cadcfc;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.main-about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-texts {
  width: 87%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text horizontally */
  margin-top: auto; /* Move content to the vertical center */
  margin-bottom: auto; /* Move content to the vertical center */
}

.description {
  width: 100%;
  font-size: 2.3rem;
  color: #cadcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sparkle-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sparkle-content .sparkle-top {
  align-self: flex-end;
}
.sparkle-content .sparkle-top img {
  width: 100px;
}
.sparkle-content .sparkle-bottom {
  align-self: flex-start;
}
.sparkle-content .sparkle-bottom img {
  width: 100px;
}

.wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 14px;
  padding: 7px 20px;
  border: 1px solid #cadcfc;

  box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.3);
  font-size: 4.5rem;
  font-family: Acron;
  width: 60%;
  max-width: 40rem;
  margin-bottom: 0.7rem;
}

.wrapper .services {
  margin: 0;
}
.services {
  color: #eebbc3;
  font-weight: bolder;
  margin-right: 20px;
}
.services span {
  color: #cadcfc;
}
.name-intro {
  margin-top: -50px;
  font-size: 9rem;
  color: #cadcfc;
  transition: 0.42s ease-in-out;
  font-family: Acron;
}
.name-intro :hover {
  font-size: 4rem;
  transition: 0.2s ease-in-out;
}
.description .span {
  color: #1139bd;
  font-weight: bolder;
}
.services img {
  width: 2.5rem;
  margin-right: 1rem;
}

.description img {
  width: 3rem;
  margin: 0;
  border-radius: 50%;
}

.refer {
  text-decoration: underline;
  color: #9f9ea3;
}
.wrapper span {
  position: relative;
}
.wrapper span::before {
  content: 'A  ';
  color: #fffffe;
  animation: words 20s infinite;
  /* font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; */
}
.wrapper span::after {
  content: '';
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #222831;
  border-left: 2px solid #eebbc3;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
  padding: 0.3rem 0;
}

@keyframes cursor {
  to {
    border-left: 0px solid #ff7f5000;
  }
}

@keyframes words {
  0%,
  20% {
    content: 'Web Developer';
  }
  21%,
  40% {
    content: 'AI enthusiast';
  }
  41%,
  60% {
    content: 'ios Developer';
  }
  61%,
  80% {
    content: 'React Developer';
  }
  81%,
  100% {
    content: 'R3F Developer';
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
.contact-button {
  padding: 1rem 2rem;
  border: none;
  font-family: Acron;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: #222831;
  display: inline-block;
  border-radius: 32px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 0s ease-in-out 0s forwards;
  opacity: 0;
  background-color: #cadcfc;
  border: none;
  text-decoration: none;
}
.contact-button:hover {
  color: #cadcfc;
  border: none;
  inline-size: none;
}
.contact-button:hover::before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}
.contact-button::before {
  content: '';
  background-color: #3535cc;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navbar {
  display: flex;

  width: 90vw;
  height: 50px;
  position: absolute;
  top: 10px;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  z-index: 1;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
}

.button-container {
  background-color: rgba(202, 220, 252, 0.3);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: white;
  font-size: 2.2rem;
  font-family: Acron;
  margin-right: -8px;
}

.button-container div {
  width: 20px;
  height: 2px;
  background-color: white;
  transition: 0.4s;
}

.button-container.active .row-1 {
  transform: rotate(45deg) translateX(2px) translateY(2px);
}

.button-container.active .row-3 {
  transform: rotate(-45deg) translateX(2px) translateY(-2px);
}

.button-container.active .row-2 {
  display: none;
}

.navbar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.button-container img {
  width: 50px;
  height: 50px;
}
.fix {
  position: absolute;
  top: 0;
}
.skill-section {
  justify-self: flex-end;
}
.skills {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: start;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-radius: 30px;
  max-width: 55rem;
  overflow: hidden;
  overflow-y: scroll;
  font-family: Helvetica;
  font-weight: 400;
  font-style: normal;
  color: #cccccc;
  margin-left: 350px;
}
.skills::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}
.skills::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #aae99c);
  border-radius: 6px;
}
.skills::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #add5e0);
}
.technical-skills {
  /* margin: 0 14vw; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills .full-bar {
  height: 8px;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 7px;
  width: 70%;
}
.skills .level-bar {
  background-color: #1139bd;
  height: 100%;
}
.circular-container {
  display: flex;
  width: 13rem;
  padding: 5px 40px;
  border-radius: 8px;
  row-gap: 10px;
  flex-direction: column;
  align-items: center;
}
.circular-progress {
  position: relative;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circular-progress::before {
  content: '';
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-color: #a9bccb;
}

.progress-value {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: #1139bd;
}
.circular-container {
  /* padding: 2rem; */
}
.circular-container .text {
  font-size: 2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.3rem;
  padding: 0px 20px;
}
.each-skill h3 {
  margin: 0;
}
.each-skill i {
  font-size: 25px;
}
.top-bar {
  width: 90%;
  display: flex;
  margin: 15px;
}
.image-place {
  border: 5px solid #1139bd;
  width: 8rem;
  height: 8rem;
  border-radius: 0px 40px 0 40px;
}
.info-place {
  border: 5px solid #1139bd;
  width: 65%;
  height: 4rem;
  align-self: end;
  padding: 0 20px;
  border-left: none;
  border-radius: 0px 40px 0 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image-place img {
  width: 7.5rem;
  height: 7.5rem;
}
.info-place div p {
  margin: 0;
  font-size: 1.7rem;
}
.skills-box {
  border-radius: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 90%;
  margin: 15px 15px;
}

.each-skill {
  display: flex;
  gap: 20px;
  margin: 0 30px;
  width: 100%;
}

.canvas {
  background: linear-gradient(to right, #232526, #414345);
}

/* Range-Slider */
:root {
  --gradient-color: linear-gradient(
    95deg,
    hsl(286, 97%, 57%) -7%,
    hsl(256, 84%, 48%) 112%
  );
  --first-color-light: hsl(256, 64%, 88%);
  --first-color-lighten: hsl(256, 58%, 94%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(256, 100%, 98%);
}

.range-slider {
  height: 100vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: start start;
  margin-left: 2rem;
}

/* Custom input range */
.range {
  height: 64px;
  width: 20rem;
  /* max-width: 40%; */
  background-color: var(--first-color-light);
  border-radius: 4rem;
  box-shadow: 0 6px 16px hsla(256, 72%, 24%, 0.15);
  padding-inline: 2rem;
  display: grid;
  margin-top: 12rem;
  display: none;
}

.range__content {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}

.range__slider {
  width: 100%;
  height: 16px;
  background-color: var(--first-color-lighten);
  border-radius: 4rem;
  box-shadow: 0 4px 12px hsla(256, 72%, 24%, 0.2);
  overflow: hidden;
}

.range__slider-line {
  width: 100%;
  height: 100%;
  background: var(--gradient-color);
  width: 0%;
}

.range__thumb {
  width: 32px;
  height: 32px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  box-shadow: 0 0 12px hsla(256, 72%, 24%, 0.2);
  position: absolute;
}

/* Value input range */
.range__value {
  width: 44px;
  height: 44px;
  background: var(--gradient-color);
  position: absolute;
  top: -58px;
  left: -6px;
  border-radius: 2rem 2rem 2rem 0.25rem;
  transform: rotate(-45deg);
  display: grid;
  place-items: center;
}

.range__value-number {
  transform: rotate(45deg);
  color: var(--white-color);
  font-size: 1.5rem;
}

/* Default input range */
.range__input {
  appearance: none;
  width: 100%;
  height: 16px;
  position: absolute;
  opacity: 0;
}

.range__input::-webkit-slider-thumb {
  appearance: none;
  width: 32px;
  height: 32px;
}

.range__input::-webkit-slider-thumb:hover {
  cursor: pointer;
}

/* Contact-Us */
.contact-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 8%;
  font-family: Helvetica;
}
.contact-container .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}
.row section.col {
  display: flex;
  flex-direction: column;
}
.row section.left {
  flex-basis: 35%;
  min-width: 320px;
  margin-right: 60px;
}
.row section.right {
  flex-basis: 60%;
}
section.left .contactTitle h2 {
  position: relative;
  font-size: 28px;
  color: #ddd;
  display: inline-block;
  margin-bottom: 25px;
}
section.left .contactTitle h2::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #fff;
  top: 120%;
  left: 0;
}
section.left .contactTitle h2::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 3px;
  background-color: #3535cc;
  top: calc(120% - 1px);
  left: 0;
}
section.left .contactTitle p {
  font-size: 17px;
  color: #ccc;
  letter-spacing: 1px;
  line-height: 1.2;
  padding-bottom: 22px;
}
section.left .contactInfo {
  margin-bottom: 16px;
}
.contactInfo .iconGroup {
  display: flex;
  align-items: center;
  margin: 25px 0px;
}
.iconGroup .icon {
  width: 45px;
  height: 45px;
  border: 2px solid #3535cc;
  border-radius: 50%;
  margin-right: 20px;
  position: relative;
}
.iconGroup .icon i {
  font-size: 20px;
  color: #ddd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iconGroup .details span {
  display: block;
  color: #888;
  font-size: 18px;
}
.iconGroup .details span:nth-child(1) {
  text-transform: uppercase;
  color: #ccc;
}
section.left .socialMedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 22px 0px 20px;
}
.socialMedia a {
  width: 35px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  margin-right: 15px;
  border-radius: 5px;
  background-color: #3535cc;
  transition: 0.4s;
}
.socialMedia a i {
  color: #ddd;
  font-size: 18px;
  line-height: 35px;
  border: 1px solid transparent;
  transition-delay: 0.4s;
}
.socialMedia a:hover {
  transform: translateY(-5px);
  background-color: #2e2e2e;
  color: #3535cc;
  border: 1px solid #3535cc;
}
.socialMedia a:hover i {
  color: #3535cc;
}

/* Code for the right section (column) */

.row section.right .messageForm {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.row section.right .inputGroup {
  margin: 18px 0px;
  position: relative;
}
.messageForm .halfWidth {
  flex-basis: 48%;
}
.messageForm .fullWidth {
  flex-basis: 100%;
}
.messageForm input,
.messageForm textarea {
  width: 100%;
  font-size: 18px;
  padding: 2px 0px;
  background-color: #02162e;
  color: #ddd;
  border: none;
  border-bottom: 2px solid #666;
  outline: none;
}
.messageForm textarea {
  resize: none;
  height: 220px;
  display: block;
}
textarea::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 15px;
}
.inputGroup label {
  position: absolute;
  left: 0;
  bottom: 4px;
  color: #888;
  font-size: 18px;
  transition: 0.4s;
  pointer-events: none;
}
.inputGroup:nth-child(4) label {
  top: 2px;
}
.inputGroup input:focus ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:valid ~ label {
  transform: translateY(-30px);
  font-size: 16px;
}

.send-button {
  padding: 1rem 2rem;
  border: none;
  font-family: Acron;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: #3535cc;
  display: inline-block;
  border-radius: 32px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 0s ease-in-out 0s forwards;
  opacity: 0;
}
.send-button:hover {
  color: white;
}
.send-button:hover::before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}
.send-button::before {
  content: '';
  background-color: #3535cc;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 1s ease-out;
}

.svg-wrapper {
  width: 50%;
  height: 50%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1100px) {
  .messageForm .halfWidth {
    flex-basis: 100%;
  }
}
@media (max-width: 800px) {
  .contact-container .row {
    flex-wrap: wrap;
  }
  .row section.left,
  .row section.right {
    flex-basis: 100%;
    margin: 0px;
  }
  section.left .socialMedia {
    display: none;
  }
  section.left .contactInfo {
    display: none;
  }
  .messageForm textarea {
    height: 150px;
  }

.skills{
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1)
}


}




.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  transition: opacity 1s ease;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edf2ff;
  font-family: 'DM Serif Display', serif;
}
.loader-title {
  font-size: 5.25rem;
  font-weight: bold;
  color: #232946;
  position: relative;
}
.loader-inner {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  transition: all 0.5s ease-in-out;
}
.loader-progress {
  opacity: 0.4;
}

.App {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation {
  width: 70px;
  height: 460px;
  background-color: rgba(202, 220, 252, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;
  width: 100%;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navigation ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #fff;
  opacity: 0.75;
  height: 100%;
  transition: 0.5s;
}
.navigation ul li.active a .icon {
  opacity: 1;
  color: #209cff;
  transform: translate(-15px, 0px);
}

.navigation ul .indicator {
  position: absolute;
  right: 15px;
  width: 58px;
  height: 58px;
  background-color: white;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 50%;
  border: 6px solid white;
}

.navigation ul .mover {
  top: 12px;
  left: -70px;
  position: absolute;
  width: 8.4em;
  height: 2.9em;
  transition: 0.7s;
  z-index: -10;
}
.navigation ul .mover::before {
  background-color: rgba(202, 220, 252, 0.3);
  clip-path: url(#menu);
  content: '';
  top: 3.5px;
  left: -19px;
  position: absolute;
  width: 139px;
  height: 39px;
  transition: 0.7s;
  transform: rotate(270deg);
  z-index: -10;
}

.navigation ul .indicator span {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: scale(0.85);
  top: -5px;
  left: -3.5px;
}

.navigation ul li:nth-child(1).active ~ .indicator,
.navigation ul li:nth-child(1).active ~ .mover {
  transform: translateY(0);
}

.navigation ul li:nth-child(2).active ~ .indicator,
.navigation ul li:nth-child(2).active ~ .mover {
  transform: translateY(70px);
}

.navigation ul li:nth-child(3).active ~ .indicator,
.navigation ul li:nth-child(3).active ~ .mover {
  transform: translateY(140px);
}

.navigation ul li:nth-child(4).active ~ .indicator,
.navigation ul li:nth-child(4).active ~ .mover {
  transform: translateY(210px);
}

.navigation ul li:nth-child(5).active ~ .indicator,
.navigation ul li:nth-child(5).active ~ .mover {
  transform: translateY(280px);
}

/* Responsive */
@media (max-width: 450px) {
  .about-texts {
    width: 80%;
    max-width: 70rem;
  }
  .name-intro {
    font-size: 4.1rem;
  }
  .services {
    font-size: 2rem;
  }
  .services img {
    width: 2rem;
    margin-right: 1rem;
  }

  .description {
    font-size: 1.3rem;
  }
  .sparkle-content .sparkle-bottom img {
    width: 50px;
  }
  .sparkle-content .sparkle-top img {
    width: 50px;
  }

  .description img {
    width: 2rem;
    margin: 0;
    border-radius: 50%;
    font-family: 'STIX Two Text', serif;
  }
  .wrapper {
    font-size: 1.65rem;
    font-weight: 900;
    padding: 10px 6px;
  }
  .contact-button {
    font-size: 1.5rem;
  }

  .App {
    width: 40px;
  }
  .App .navigation {
    width: 40px;
    height: 250px;
  }
  .navigation ul {
    height: 200px;
  }
  .navigation ul li.active a .icon {
    transform: translate(-9px, 2px);
  }
  .navigation ul li {
    height: 40px;
    width: 40px;
  }
  .navigation ul li a .icon {
    font-size: 2rem;
  }
  .navigation ul .indicator {
    height: 35px;
    width: 35px;
    right: 6px;
  }
  .navigation ul .indicator span {
    height: 40px;
    width: 40px;
  }
  .navigation ul .mover::before {
    top: -2px;
    left: 9px;
    width: 95px;
    height: 28px;
  }
  .navigation ul li:nth-child(1).active ~ .indicator,
  .navigation ul li:nth-child(1).active ~ .mover {
    transform: translateY(0);
  }

  .navigation ul li:nth-child(2).active ~ .indicator,
  .navigation ul li:nth-child(2).active ~ .mover {
    transform: translateY(40px);
  }

  .navigation ul li:nth-child(3).active ~ .indicator,
  .navigation ul li:nth-child(3).active ~ .mover {
    transform: translateY(80px);
  }

  .navigation ul li:nth-child(4).active ~ .indicator,
  .navigation ul li:nth-child(4).active ~ .mover {
    transform: translateY(120px);
  }

  .navigation ul li:nth-child(5).active ~ .indicator,
  .navigation ul li:nth-child(5).active ~ .mover {
    transform: translateY(160px);
  }
  .card-button{
    
  }
}
